# Visual Studiocache/options directory
src/.vs/

#NuGet packages
src/packages/

#obj
src/*/obj/

#bin
/bin
src/*/bin/

#build
build/*

#TestResults
src/TestResults/*

#Temp Files
~*

#tools
tools/NuGetPackagesBackup/Log.txt